// Place all the styles related to the device controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.selected{
  background-color:yellow;
}
