<p id="notice"><%= notice %></p>

<span>Value : </span><%= @dhcp_fingerprint.value %>


<%= link_to 'Edit', edit_dhcp_fingerprint_path(@dhcp_fingerprint) %> |
<%= link_to 'Back', dhcp_fingerprints_path %>
