<p id="notice"><%= notice %></p>

<p>
  <strong>Value:</strong>
  <%= @dhcp_vendor.value %>
</p>

<%= link_to 'Edit', edit_dhcp_vendor_path(@dhcp_vendor) %> |
<%= link_to 'Back', dhcp_vendors_path %>
